@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.translate-animation{
    animation: translateItem 5s ease-in forwards;
}

.fadeOut{
    animation: fadeOut 5s ease-in forwards;
}

.icyBg{
    background-image: url('../images/icyBg.jpg');
}


@keyframes translateItem {
    0%{
        /* @apply translate-y-full; */
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-200%);
    }
}

@keyframes fadeOut {
    0%{
        transform: translateY(-200%);
    }
    100%{
        transform: translateY(0);
    }
}
